
h1{
    font-family: 'Viga', sans-serif;
    color: #5EA336;
    font-size: 70px;
    font-weight: bold;
    padding-left: 10px;
}

h2{
    font-weight: bold;
    padding-bottom: 10px;
}

h3{
    font-weight: bold;
    margin-left: 20px;
}

body{
    font-family: 'Kanit', sans-serif;
    background-color: #CCD8C0;
}

aside{
    margin-right: 5px;

}

div.container{
    margin-top: 40px;
    margin-bottom: 40px;
    border: solid;
    border-color: #5EA336;
    border-radius: 40px 40px 40px 40px;
    background-color: #F1F1F1;
}

#botonregistro{
    background-color: #5EA336;
    border: #5EA336;;
}
#botonregistro:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: all 1s ease;
  }
  #botonregistro:hover:before {
  width: 100%;
  }



div.row{
    margin-top: 20px;
    display: flex;  
    align-items: center;  
    justify-content: center;
    
}

#logo{
    margin: 10px;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 20px;
    

}

#logo2{
    margin: 10px;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 20px;
    text-align: center;
    

}


.contenedorgrid{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "left main rigth";
    grid-template-columns: 38fr 100fr 50fr;
    grid-template-rows: 250px 200px 190px;
    grid-column-gap: 20px;
    
    
    
}

.left{
    text-align: center;
    margin-left: 10px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;

}
.left2{
    margin-left: 10px;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    height: 390px;

    
}

.rigth{
    text-align: center;
    background-color: white;
    border-radius: 20px;
    margin-right: 12px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.right2{
    border-radius: 20px;
    text-align: center;
    align-items: center;
    margin-right: 12px;
    margin-bottom: 20px;
    width: 173px;
    margin: auto;
}

.right3{
    border-radius: 20px;
    text-align: center;
    align-items: center;
    margin-right: 12px;
    width: 173px;
    margin: auto;
}


.main{
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
}

.main2{

    background-color: white;
    border-radius: 20px;
    text-align: justify;
    margin-bottom: 20px;

}
.main3{

    background-color: white;
    border-radius: 20px;
    text-align: justify;

}




.imagenes{
    float: left;
    margin: 0px;
    width: 170px;
    height: 139px;
    border-radius: 4px;
    margin-left: 14px;
    margin-right: 10px;
    border: solid 2px;
}

.imagenes:hover{-webkit-transform:scale(1.3);transform:scale(1.3);}
.imagenes {overflow:hidden;}



.imagenesderecha{
    width: 150px;
    height: 150px;
    border-radius: 4px;
    margin-top: 15px;
    
}


.imagenesderecha:hover{-webkit-transform:scale(1.3);transform:scale(1.3);}
.imagenesderecha {overflow:hidden;}

.imagenesderecha:hover {
    filter: opacity(.5);
}




.noticias{
    margin-top: 20px; 
    margin-bottom: 50px;   
}

.noticias:hover {
    filter: opacity(.5);
}


.noticias2{
    
    margin-bottom: 10px; 
}






.botoneslista{
    background:#5EA336;
    border-radius:20px;
    width:200px;
    height:50px;
    color: white;
    display:inline-block;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    border-color:#5EA336; 
}

#inputcomuna{
    margin-top: 40px;
    
}

option{
    background-color:white; 
    color: black;
    font-style: italic;   
}




#inputinicio{
    margin-bottom: 20px;
}



.boton {
    color: #fff !important;
    font-size: 20px;
    font-weight: 500;
    width:200px;
    height:50px;
    background: #5EA336;
    border: 2px solid;
    border-color: #5EA336;
    position: relative;
  }
  .boton:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: all 1s ease;
  }
  .boton:hover:before {
  width: 100%;
  }
